<html>
<head>
<title>activity_main3.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #080808; font-style: italic;}
.s1 { color: #174ad4;}
.s2 { color: #080808;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main3.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s2">&lt;</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s3">=&quot;@color/black&quot;</span>
    <span class="s1">android:backgroundTint</span><span class="s3">=&quot;@color/black&quot;</span>
    <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.MainActivity3&quot;</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView18&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;54dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;25dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;76dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;164dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;@font/roboto_bold&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/amber&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;@+id/imageView&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView19&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;54dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;25dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;92dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;164dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;@font/roboto_bold&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/eric&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.234&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s3">=&quot;@+id/textView20&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;@+id/imageView&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView20&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;54dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;25dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;116dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;@font/roboto_bold&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/chelly&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s3">=&quot;@+id/textView18&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/imageView&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView11&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;355dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;59dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;93dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;92dp&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;@color/black&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;@font/roboto_bold&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/brooklyn_community_recipes&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;26sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.0&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s3">=&quot;0.053&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView15&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;186dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;37dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;32dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;76dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/recipes&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#03A9F4&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;20sp&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/searchView&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">SearchView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/searchView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;499dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;55dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;44dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;1.0&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/textView11&quot;</span><span class="s2">&gt;</span>

        <span class="s2">&lt;</span><span class="s4">ImageButton</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/imageButton3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/Search&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s3">=&quot;@android:drawable/ic_search_category_default&quot; </span><span class="s2">/&gt;</span>
    <span class="s2">&lt;/</span><span class="s4">SearchView</span><span class="s2">&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView12&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;217dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;29dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;28dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;@font/roboto&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/_50_williamsburg_members&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;viewEnd&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;14sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/searchView&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView13&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;54dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;25dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;72dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;@font/roboto_bold&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/sean&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/imageView3&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView16&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;62dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;29dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;240dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;@font/roboto_bold&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/michelle&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/imageView3&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView17&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;58dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;24dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;76dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;122dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s3">=&quot;@font/roboto_bold&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;@string/franny&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s3">=&quot;@+id/textView16&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/imageView3&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">ImageView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/imageView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;661dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;160dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;28dp&quot;</span>
        <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/food3&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.497&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/textView15&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s3">=&quot;@drawable/food1&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">ImageView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/imageView3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;548dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;159dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;40dp&quot;</span>
        <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/food5&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;@+id/textView20&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s3">=&quot;@drawable/food5&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;</span><span class="s4">ImageView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/imageView4&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;109dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;123dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;206dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;211dp&quot;</span>
        <span class="s1">android:contentDescription</span><span class="s3">=&quot;@string/ties&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.714&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/textView16&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s3">=&quot;@drawable/ties&quot; </span><span class="s2">/&gt;</span>

<span class="s2">&lt;/</span><span class="s4">androidx.constraintlayout.widget.ConstraintLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>